* {
  font-family: 'Quicksand', sans-serif;

  -ms-overflow-style: none;

}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(244, 230, 250);
}

.landing-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.entry-text {
  font-size: 8vw;
}


.title-feed {
  font-size: 2.2em;
  margin-bottom: 10px;

}

.title {
  font-size: 2.2em;
  margin-bottom: 10px;

}

@media (min-width: 450px) {
  .title {
    font-size: 12vw;

  }

  .title-feed {
    font-size: 6vw
  }
}

@media (min-width: 750px) {
  .title {
    font-size: 10vw;

  }

  .title-feed {
    font-size: 4vw
  }
}


.header-container {
  display: flex;
  flex-wrap: wrap;
}




.logged-in-text {
  margin-left: auto;
  font-size: 0.8em;
  text-wrap: wrap;
  width: 100%;
  text-align: right;
}

.login-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 450px) {
  .login-wrapper {
    display: inline;
    text-align: center;

  }
}

.welcome-login-text {
  margin: 5px;
  margin-bottom: 50px;
}

@media (min-width: 450px) {
  .welcome-login-text {
    font-size: 5vw;

  }
}


.main-feed-box {
  margin: 10px;
  border: rgb(169, 168, 179) solid 1px;
  padding: 5px;
  padding-top: 0px;
  border-radius: 5px;

}

p {
  margin: 0;
}

#comment-container {
  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 1px 1px 10px #666;
  margin-bottom: 10px;
}

#comment-container-sidebar {
  display: flex;
}

#comment-header {
  margin-top: 18px;
  margin-bottom: 10px;
}

#comment-header-sidebar {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

#comment-author-body {
  font-size: 20px;
  margin-top: 20px;
  padding-bottom: 12px;
}

#comment-author-sidebar {
  font-size: 11px;
  margin-top: 10px;
  padding-bottom: 12px;
}

#comment-body {
  font-size: 16px;
  margin-top: 10px;
  padding-bottom: 10px;
}

#comment-body-sidebar {
  font-size: 13px;
  margin-top: 5px;
  padding-bottom: 5px;
}

#comment-id-votes-date {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 15px
}

#comment-id-votes-date-sidebar {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 15px
}

@media (min-width: 550px) {
  #comment-header {
    font-size: 4vw;
  }

  #comment-header-sidebar {
    font-size: 2vw;
  }

  #comment-author-sidebar {
    font-size: 1.8vw;
  }

  #comment-body-sidebar {
    font-size: 2vw;
  }

  #comment-id-votes-date-sidebar {
    font-size: 1.6vw;
  }
}

@media (min-width: 800px) {
  #comment-header {
    font-size: 3vw
  }

  #comment-header-sidebar {
    font-size: 1.8vw;
  }

  #comment-author-sidebar {
    font-size: 1.6vw;
  }

  #comment-body-sidebar {
    font-size: 1.8vw;
  }

  #comment-id-votes-date-sidebar {
    font-size: 1.4vw;
  }
}

h2 {
  margin: 5px;
  font-size: 20px;
}

.css-mhc70k-MuiGrid-root {
  min-width: 300px;
  display: flex;
  margin-left: 0;
  flex-wrap: wrap;
  padding: 10px;
}

.css-vok43g-MuiGrid-root:hover {
  background-color: rgb(255, 255, 255)
}

.css-vok43g-MuiGrid-root:active {
  background-color: #cab5cc;
  box-shadow: 4px 4px 4px #666;
  transform: translateY(2px);
}


.main-feed-article-title {
  font-size: 20px;
}

.article-author {
  margin-left: auto;
  font-weight: 500;
  font-size: 11px;

}

.article-detail {
  font-weight: 500;
  padding: 3px;
  font-size: 3vw;
}

.small-article-body {
  font-size: 14px;
  padding-bottom: 10px;
}

@media (min-width: 400px) {
  .main-feed-article-title {
    font-size: 5vw;

  }

  .small-article-body {
    font-size: 3vw;

  }

  .article-detail {
    font-size: 2.5vw;
    margin-bottom: 8px;
  }
}

@media (min-width: 650px) {
  .main-feed-article-title {
    font-size: 3vw;

  }

  .small-article-body {
    font-size: 1.8vw;

  }

  .article-detail {
    font-size: 1.8vw;
    margin-bottom: 8px;
  }
}


.article-image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 90%;
  justify-content: center;
}

@media (min-width: 500px) {
  .article-image {
    width: 430px
  }
}

.found-article-by-id {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.found-article-body {
  font-size: 16px;
  margin: 10px;
  background-color: #ffffff;
  padding: 8px;
  margin-bottom: 10px;
}

.found-article-votes {
  margin-left: 10px;
}

.article-in-detail-title {
  font-size: 20px;
}

@media (min-width: 400px) {
  .article-in-detail-title {
    font-size: 6vw;

  }
}

@media (min-width: 700px) {
  .article-in-detail-title {
    font-size: 4vw;

  }
}

.read-more-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.thumbs-up {
  display: inline;
  margin-left: 8px;
  margin-right: 8px;
}

.thumbs-down {
  display: inline;
  margin-left: 8px;
  margin-right: 8px;
}

.comment-input-container {
  margin-top: 15px;
  margin-bottom: 10px;
}

.comment-input {
  background-color: #fafaff;
}

.comment-button-container {
  margin-left: 20px;
  display: inline;
}

.filter-article-box {
  display: inline;
  margin-left: auto;


}

.navBar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.menu-button {
  display: flex;
  align-items: end;
}

.topic-tag {
  font-size: 1.4em;
  font-weight: 900;
  margin-left: 10px;
  margin-bottom: 20px;
}